# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.classpath
.settings/org.eclipse.core.resources.prefs
*.project
*.prefs
target/classes/com/datayes/testapp/testchrome/Test1.class
target/classes/com/datayes/testapp/testchrome/DragAndDrop.class
target/classes/com/datayes/testapp/testchrome/GroupCooperation.class
target/classes/com/datayes/testapp/testchrome/MultiBrowsers.class
target/classes/com/datayes/testapp/testchrome/PersonalCenter.class
target/classes/com/datayes/testapp/testchrome/PublishMsg.class
target/classes/com/datayes/testapp/testchrome/ScrollBar.class
target/classes/com/datayes/testapp/testchrome/SnapShot.class
target/test-classes/com/datayes/testapp/testchrome/AppTest.class